<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/attraction-1.css">
    <title>Document</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main class="main">
        <section class="intro">
            <h1 class="intro__title">Достопримечательности Армении</h1>
        </section>
        <section class="attraction__wrapper">
            <div class="container">
                <div class="attraction__cart">
                    <% data.forEach(item => { %> 
                    <div class="attraction__block">
                        <div class="attraction__block__top">
                            <img src="img/<%= item.image %> " alt="" class="attraction__block__img">
                            <!-- <div class="attraction__img__label">Топ 20</div> -->
                            <!-- <div class="attraction__img__label-right">Водопад</div> -->
                        </div>
                        <div class="attraction__block__bottom">
                            <div class="attraction__block__info">
                                <a href="#" class="attraction__block__location">На Карте</a>
                                <!-- <p class="attraction__block__info-km">205 км</p> -->
                            </div>
                            <div class="attraction__block__line"></div>
                            <h2 class="attraction__block__title"><%= item.title %> </h2>
                            <p class="attraction__block__subtitle"><%= item.description %></p>
                            <p class="attraction__block__entry">Вход: <span>Бесплатно</span></p>
                        </div>
                    </div>
                    <% }) %> 
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>